@import "tailwindcss";


:root {
--header-color:#FFF1FE;
--primary-color: #a1007e;
  

/* Tints: lighter versions of the primary color */
--primary-100: #fce9f7; /* very light tint */
--primary-200: #f5b4df; /* soft pinkish tint */
--primary-300: #e680c3; /* lighter magenta */
--primary-400: #cc4fa8; /* medium-light magenta */

/* Translucent version of the primary color */
--primaryTrans-color: #a1007e66; /* ~40% opacity of primary */ /* Translucent pink */
  --secondary-color: #6C757D; 
  --secondary-100: #F1F3F5;
  --secondary-200: #D7DBDF;
  --secondary-300: #ADB5BD;
  --secondary-400: #868E96;

  --background-light: linear-gradient(135deg, #fff0f6 0%, #f8e1ff 30%, #fff0f6 60%, #f3e8ff 100%); /* soft pinkish background */
  --text-dark: #212529;  /* Strong dark text */
  --text-muted: #6c757d;  /* Muted dark gray */
  --card-bg: #ffffff;  
  --card-Trans:#FFF1FE80;
  --border-color: #ffddea;  /* light gray border */
  --accent-color: #8E44AD;  /* soft purple accent */
  --background: #fce5ee;
  --foreground: #111111;
}




@media (prefers-color-scheme: dark) {
 :root {

--header-color:#FFF1FE;
--primary-color: #a1007e;


/* Tints: lighter versions of the primary color */
--primary-100: #fce9f7; /* very light tint */
--primary-200: #f5b4df; /* soft pinkish tint */
--primary-300: #e680c3; /* lighter magenta */
--primary-400: #cc4fa8; /* medium-light magenta */

/* Translucent version of the primary color */
--primaryTrans-color: #a1007e66; /* ~40% opacity of primary */
  --secondary-color: #6C757D; 
  --secondary-100: #F1F3F5;
  --secondary-200: #D7DBDF;
  --secondary-300: #ADB5BD;
  --secondary-400: #868E96;
 

  --background-light: linear-gradient(135deg, #fff0f6 0%, #f8e1ff 30%, #fff0f6 60%, #f3e8ff 100%); /* soft pinkish background */
  --text-dark: #212529;  /* Strong dark text */
  --text-muted: #6c757d;  /* Muted dark gray */
  --card-bg: #ffffff;
  --card-Trans:#FFF1FE80;
  --border-color: #dee2e6;  /* light gray border */
  --accent-color: #8E44AD;  /* soft purple accent */
  --background: #fce5ee;
  --foreground: #111111;
}
  }

body {
  font-family: var(--font-nunito), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-dark);
  line-height: 1.2;
}


h1, h2{
  line-height: 1.2;
}

h1 {
  font-size: 55px; /* Increased from 2.5rem */
}

h2 {
  font-size:44px; /* Increased from 2rem */
}

h3 {
  font-size: 34px; 
}

.h33{
  font-size: 30px;
}

h4{
   font-size: 28px; 
}

p {
  font-size: 24px; /* Increased from 1rem */
}
.p1{
  font-size: 22px;
}
.p11{
  font-size: 20px;
}
.p111{
  font-size: 18px;
}
.p1111{
  font-size: 14px;
}

 .links{
  color: var(--text-muted);
  text-decoration: none;
 }
  .links:hover{
    color: var(--primary-color);
    text-decoration: underline;
  }

   .footerLinks{
  color: white;
  text-decoration: none;
 }
  .footerLinks:hover{
    text-decoration: underline;
  }


.button,
.inverseButton {
  font-size: 1rem; 
  font-weight: 500;
}



.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-400);
  
}

.inverseButton {
  background-color: var(--primary-100);
  color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
 
  transition: background-color 0.3s ease;
}

.inverseButton:hover {
  background-color: var(--primary-400);
  color: #fff;
}

.inverseButton2 {
  border: solid 1.5px var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 0.75rem 1.5rem;
 
  cursor: pointer;
 
  transition: background-color 0.3s ease;
}

.inverseButton2:hover {
  background-color: var(--primary-400);
  color: #fff;
}


  .responsive-button {
    all: unset;
  }

@media (max-width: 767px) {
  .responsive-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

  .responsive-button:hover {
    background-color: var(--primary-400);
  }
}

.IconButton {
  background-color: var(--primary-100);
  color: var(--primary-color);
  padding: 0.75rem ;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.IconButton:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.callToActionButton {
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.callToActionButton:hover {
  background-color: var(--accent-color);
  color:  #ffffff;
}

.card {
  background-color: var(--card-bg);
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.card2 {
  background-color: var(--card-bg);
  padding: 5rem 2rem;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.modalCard {
  background-color: var(--card-bg);
  border-radius: 0.75rem;
  padding: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.modalCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card h3 {
  color: var(--text-dark);
  font-size: 1.25rem;
  font-weight: 600;
}

.card p {
  margin-top: 0.5rem;
  color: var(--text-muted);
}

.flatCard{
  max-width: 1000px;
  
}

.containerDiv{
  padding: 2rem 5rem;
  min-height: 50vh;
  width: 100%;
  max-width: 1400px;
  
}
@media (max-width: 768px) {
 .containerDiv {
   padding: 2rem;
 }
}



.bg_themed_color{
  background-image: var(--background-light);;
}

.inner_Padding{
  padding: 5rem 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.card-texture-bg {
  background-image: url('/images/cardtexture.png');
  background-size: 120%;
  background-position: center;
}

.card-texture-bg2 {
  background-image: url('/images/cardtexture2.png');
  background-size: 120%;
  background-position: center;
}

.custom-ring-color {
  --tw-ring-color: var(--primary-color);
  outline: none;
  background-color: white;
  border: solid 2px var(--secondary-200);
 
}

.custom-ring-color:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--tw-ring-color); /* this mimics `focus:ring-2` */
}